@charset "UTF-8";

* {
  font-family: Arial, Helvetica, sans-serif;
  /*height: 100%;*/
}

body {
  background-image: linear-gradient(135deg, #385663, #3eb2a2);
}

main {
  background-color: white;
  border-radius: 10px;
  box-shadow: 10px 10px 15px #000000a1;
  width: 600px;
  padding: 10px;
  margin: auto;
}

h1 {
  color: #ffb26d;
  text-align: center;
  text-shadow: 1px 1px 0px #ff8060;
}

h2 {
  color: #fdd272;
}

p {
  text-align: justify;
}
